<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vicancy</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="style.css">
    <script>
        // window.onload = function () {
        //     localStorage.setItem("name","<%=name%>");
        //     localStorage.setItem("id","<%=id%>");
        //     localStorage.setItem("email","<%=email%>");
        //     localStorage.setItem("language","<%=language%>");
        //     localStorage.setItem("vToken","<%= vToken %>");
        // }
    </script>
</head>

<body>
    <a href='#' onclick='vicancy.open({ clientId: "<%=id%>", clientName: "<%=name%>", clientEmail: "<%=email%>", clientLanguage: "<%=language%>", apiToken: "<%=vToken %>"" }); return false;'>
         <img src="Appstore-banner.png" >
    </a>

    <script async src="//vicancy.herokuapp.com/assets/widget-api.js" type="text/javascript"></script>
</body>

</html>